.error{
    color: red;
}


  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    margin-top: 50px;
    padding: 0px 10px;
    margin-right: 160px;
  }