.nav_bar{
    height: 50px;
    background-color: blueviolet;
    margin-left: 160px;
    margin-right: 160px;
}

.nav_list{
    list-style-type: none;
}

.nav_item a{
    float: left;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.nav_item a:hover{
    color: orange;
}
.nav_item a:active{
    font-weight: bold;
}
.logout{
    float:right;
    margin-right: 10px;
    margin-top:5px;
    color: white;
}